<div class="main-div">
    <mat-card class="loginArea">

    
        <mat-card-content lg>
    
    
            <div style="text-align: center;">
            <mat-card-title>Login</mat-card-title>
            </div>

            <form [formGroup]="loginForm">
                <mat-form-field class="userType" appearance="fill" >
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="username" formControlName="userName" required>
                    <mat-error *ngIf="loginForm.controls.userName.invalid">You must enter a value</mat-error>
                </mat-form-field>
          
                <br>
          
                <mat-form-field class="userType" appearance="fill" >
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password" formControlName="password" type="password" required>
                    <mat-error *ngIf="loginForm.controls.password.invalid">You must enter a value</mat-error>
                </mat-form-field>
                
                <br>
          
                <button mat-flat-button color="primary" type="submit" (click)="loginSubmit()"> login</button>
                <mat-error *ngIf="!isLoggedIn">Wrong Username and password</mat-error>
              </form>
    
        </mat-card-content>
            
    </mat-card>
    

</div>



